<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/plugin/semanticui/semantic.min.css" th:href="@{/plugin/semanticui/semantic.min.css}">
    <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="../../static/plugin/semanticui/semantic.min.js" th:src="@{/plugin/semanticui/semantic.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航栏-->
<div class="ui attached" th:replace="_fragments::nav(-1)">
    <div class="ui fluid  container ">
        <div class="ui huge grid secondary pointing  stackable  menu padded">
            <a href="#" class="ui item menu toggle icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
            <div class="ui header item m-item m-mobile-hide m-text-large m-padded-b-tiny m-text-thin m-opacity-mini">Online Judge</div>
            <a href="#" class="ui item m-item m-mobile-hide"><i class="small home icon"></i>Home</a>
            <a href="#" class="ui item m-item m-mobile-hide"><i class="small th icon"></i>Problem</a>
            <a href="#" class="ui item m-item m-mobile-hide"><i class="small bell icon"></i>Contest</a>
            <a href="#" class="ui item m-item m-mobile-hide"><i class="small edit icon"></i>Status</a>
            <a href="#" class="ui item m-item m-mobile-hide"><i class="small trophy icon"></i>Rank</a>
            <a href="#" class="ui item m-item m-mobile-hide"><i class="small file alternate outline icon"></i>Blog</a>
            <a href="#" class="ui item m-item m-mobile-hide"><i class="small envelope icon"></i>Message</a>
            <a href="#" class="ui item m-item m-mobile-hide"><i class="small paper plane icon"></i>Tool</a>
            <div class="ui item m-item m-mobile-hide  right floated m-margin-r" style="height: 48px">
                <a href="#" class="m-margin-r m-black">Login</a>
                <a href="#" class="m-margin-r m-black">Register</a>
                <a href="#" class="m-margin-r-medium"><img src="../../static/img/35.jpg" class="ui avatar image" style=""></a>
            </div>
        </div>
    </div>
</div>



<div class="ui five column centered stackable grid">
    <div class="ui  column m-margin-top-large " style="min-width: 480px">
        <div class="ui error message" th:if="${msg!=null}" th:text="${msg}"></div>
        <div class="ui container m-margin">
            <h2 class="ui center aligned header m-text m-teal">Welcome to JOJ</h2>
        </div>
        <div class="ui container m-shadow-small">

            <form class="ui large form" method="post" action="#">
                <div class="ui  segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="userName">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="password">
                        </div>
                    </div>
                    <div class="field container">

                        <div class="ui two column grid">
                            <div class="ui column">
                                <div class="ui left icon input">
                                    <i class="check icon"></i>
                                    <input type="text" name="checkcode" placeholder="checkCode">
                                </div>
                            </div>
                            <div class="ui column">
                                <a href="javascript:void(0)" id="checkCode"><img src="../../static/img/checkcode.png"
                                                                                 th:src="@{/api/checkCode}"
                                                                                 class="check-code tooltip"
                                                                                 data-content="refresh" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui column" style="padding-top: 0;">
                            <a class="" href="javascript:findPassword()">Forgot your password?</a>
                        </div>


                    </div>
                    <button id="login-btn" class="ui fluid large teal button" type="button">Login</button>

                </div>
            </form>
        </div>

        <div class="ui container">
            <div class="ui bottom attached warning message container center aligned">
                <i class="icon help"></i>
                new to here？ <a href="#" th:href="@{/register}">register</a>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
<footer th:replace="_fragments::footer"></footer>


<script th:replace="_fragments::script">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>

<script>

    // 关闭警告消息
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        });

    $('.ui.checkbox').checkbox()


    $.fn.form.settings.rules.checkCode = function (value) {
        var checkcode = $('[name="checkcode"]').val();
        var flag = false;
        $.post({
            url: '[[@{/user/checkCode}]]', // 验证码url
            async: false,
            data: {
                'checkCode': checkcode
            },
            success: function (data) {
                flag = data.flag;
            }
        })
        return flag;
    }


    $('.ui.form').form({
        inline:true,
        keyboardShortcuts:false,
        fields:{
            username:{
                identifier:'username',
                on:`blur`,
                rules:[
                    {
                        type:'empty',
                        prompt:'please enter username'
                    }
                ]
            },
            password:{
                identifier: 'password',
                rules:[
                    {
                        type:'empty',
                        prompt:'Please enter the password'
                    }
                ]
            },
            checkcode:{
                identifier: 'checkcode',
                rules:[
                    {
                        type:'checkCode',
                        prompt:'The check code is incorrect'
                    }
                ]
            },
        }
    });

    $('#checkCode').click(function () {
        var src = '[[@{/api/checkCode}]]' + '?time=' + new Date().getTime();
        $(this).children('img').attr('src', src);
    });


    $(document).keypress(function (e) {
        if(e.which==13) {
            $('#login-btn').click();
        }
    });


    $('#login-btn').click(function () {
        var flag=$('.ui.form').form('validate form');
        console.log(flag);
        if (flag) {
            $.post('[[@{/user/login}]]', {
                'userName': $('[name="username"]').val(),
                'password': $('[name="password"]').val(),
            }, function (data) {
                console.log(data);
                if (data.flag == true){
                    alert('login success');
                    window.location='[[@{/}]]';
                }

                else {
                    alert(data.msg)
                }
            })
        }
    })

    // Password reset link has been sent. Please check you email (1***0@qq.com), including your spam folder
    function findPassword() {
        var userName=$('[name=username]').val();
        if(userName==null || userName.length<=0){
            alert("Please fill in your username");
            return;
        }
        $.post('[[@{/user/findPassword}]]',{
            'userName':userName
        },function (data) {
            alert(data.msg)
        })
    }
</script>
</body>
</html>