<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="ui attached">
    <div class="ui fluid  container ">
        <div class="ui huge grid secondary pointing  stackable  menu padded">

            <div class="ui header item m-text-large m-padded-b-tiny m-text-thin m-opacity-mini">Online Judge</div>
            <a href="#" class="ui item">首页</a>
            <a href="#" class="ui item">题库</a>
            <a href="#" class="ui item">比赛</a>
            <a href="#" class="ui item">提交状态</a>
            <a href="#" class="ui item">榜单</a>
            <a href="#" class="ui item">博客</a>
            <a href="#" class="ui item">留言板</a>
            <div class="ui item  right floated m-margin-r" style="height: 48px">
                <a href="#" class="m-margin-r m-black">登录</a>
                <a href="#" class="m-margin-r m-black">注册</a>
                <a href="#" class="m-margin-r-medium"><img src="static/img/35.jpg" class="ui avatar image" style=""></a>
            </div>
        </div>
    </div>
</div>



</body>
</html>