<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments::head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>MessageList</title>
    <link rel="stylesheet" href="../../static/plugin/semanticui/semantic.min.css"
          th:href="@{/plugin/semanticui/semantic.min.css}">
    <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="../../static/plugin/semanticui/semantic.min.js"
            th:src="@{/plugin/semanticui/semantic.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<div class="ui inverted left fixed vertical menu container overflow m-admin-menu" th:replace="admin/_fragments::consolemenu(8)">
    <div class="m-margin-tb-large">
        <img src="../../static/img/35.jpg" alt="" class="ui tiny centered circular image">
                <p class="ui header text center aligned m-margin-top-large" style="color: white">管理员:   <span>jiang</span></p>
    </div>

    <a class="item active" style="font-size: 1.2em">
        <p class="header">Dashboard</p>
    </a>

    <div class="item " style="font-size: 1.2em">
       <p class="header">User</p>
        <div class="menu">
            <a href="#" class="item">userList</a>
        </div>
    </div>
    <div class="item" style="font-size: 1.2em">
        <p class="header">Blog</p>
        <div class="menu">
            <a href="#" class="item">BlogList</a>
            <a href="#" class="item">BlogCommentList</a>
        </div>
    </div>
    <div class="item" style="font-size: 1.2em">
        <p class="header">Problem</p>
        <div class="menu">
            <a href="#" class="item">ProblemList</a>
            <a href="#" class="item">SubmissionList</a>
        </div>
    </div>
    <div class="item" style="font-size: 1.2em">
        <p class="header">Contest</p>
        <div class="menu">
            <a href="#" class="item">ContestList</a>
            <a href="#" class="item">SubmissionList</a>
        </div>
    </div>
    <div class="item" style="font-size: 1.2em">
        <p class="header">Message</p>
        <div class="menu">
            <a href="#" class="item">MessageList</a>
        </div>
    </div>
    <div class="ui item " style="border-color: black">
        <div class="ui inverted very basic button ">注销</div>
    </div>
</div>


<div class="article">
    <div class="ui segment right aligned">
        <img src="../../static/img/35.jpg" th:src="@{${session.user.avatar}}" alt="" class="ui avatar image">
    </div>
    <div class="ui m-margin-top-large"></div>
    <div class="m-padded-lr" >

        <div class="ui fluid container">
            <table class="ui large padded selectable striped table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>userName(nickName)</th>
                    <th>email</th>
                    <th>Message</th>
                    <th>createTime</th>
                    <th>operating</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="message,stat:${messageList}">
                    <td th:text="${(page.current - 1)*page.size + stat.count}">1</td>
                    <td th:text="${message.nickName}"> September 14, 2013</td>
                    <td th:text="${message.email}">1121429190@qq.com</td>
                    <td th:text="${message.content}">评论内容</td>
                    <td th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm:ss')}">2020-05-1</td>

                    <td >
                        <a class="ui red basic button"
                           onclick="commentEdit(this)" data-method="delete"
                           th:attr="data-mid=${message.mid}"
                        >delete</a>

                    </td>
                </tr>
                <!--/*-->

                <!--*/-->
                </tbody>
            </table>

        </div>
        <!--                分页菜单-->
        <div class="ui pagination menu m-margin-top m-margin-bottom-large" th:if="${page}!=null">
            <a class="item" onclick="changePage(this)"
               th:href="@{/admin/message/list/{page}(page=${page.current - 1 >1?page.current -1: 1} )}">
                <i class="angle left icon"></i></a>
            <a class="item" th:each="i:${#numbers.sequence(page.begin,page.end)}" onclick="changePage(this)"
               th:href="@{/admin/message/list/{page}(page=${i}) }"
               th:attr="data-pagenum=${i}" th:text="${i}"
               th:classappend="${i==page.current?'active':''}">1</a>
            <!--/*-->
            <a class="item">10</a>
            <a class="item">11</a>
            <a class="item">12</a>
            <!--*/-->
            <a class="item"
               th:href="@{/admin/message/list/{page}(page=${page.current + 1 > page.pages?page.pages: page.current + 1}) }"
            ><i class="angle right icon"></i></a>
        </div>
    </div>

</div>

<script>
    function commentEdit(obj) {
        var mid = $(obj).data('mid');
        var r = confirm("Please confirm whether to delete");
        if (r == true) {
            $.ajax({
                url: '[[@{/admin/message/}]]' + mid,
                type: 'delete',
                contentType: "application/json",//设置请求参数类型为json字符串
                dataType: "json",
                success: function (result) {
                    if (result.flag == true) {
                        window.location.reload();
                    } else {
                        alert(result.msg);
                    }
                },

            });
        }
    }
</script>

<script th:replace="admin/_fragments::script">
    $('.ui.accordion').accordion();

</script>
</body>
</html>